@utility table-cell {
	@apply p-2 text-fluid-base wrap-break-word;
	@apply border-r-2 border-primary-100;
}

@utility panel {
	@apply h-fit w-full rounded-2xl p-4;
}

@utility button {
	@apply flex aspect-square items-center justify-center bg-surface-100;
	@apply hover:cursor-pointer;
}

@utility button-sm {
	@apply h-4 rounded-md 2xl:h-6;
}

@utility button-md {
	@apply h-6 rounded-lg 2xl:h-8;
}

@utility button-md {
	@apply h-8 rounded-lg 2xl:h-10;
}

@utility input {
	@apply h-10 rounded-lg border-4 px-2;
}

@utility input-secondary {
	@apply border-secondary-700 bg-secondary-100 text-secondary-content;
}

@utility input-surface {
	@apply border-white bg-surface-200 text-white;
}

@utility tooltip {
	@apply absolute rounded-md border-2 border-white bg-surface-100 p-2 text-center text-fluid-xs;
	@apply top-1 [position-area:center_bottom];
	@apply transition transition-discrete duration-150 starting:opacity-0 [hidden]:opacity-0;
}

@utility loader {
	--size: 1px;

	width: calc(48 * var(--size));
	height: calc(48 * var(--size));
	display: block;
	margin: calc(15 * var(--size)) auto;
	position: relative;
	color: var(--color-primary);
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
	content: '';
	box-sizing: border-box;
	position: absolute;
	width: calc(24 * var(--size));
	height: calc(24 * var(--size));
	top: 50%;
	left: 50%;
	transform: scale(0.5) translate(0, 0);
	background-color: var(--color-primary);
	border-radius: 50%;
	animation: animloader 2s infinite ease-in-out;
}
.loader::before {
	background-color: var(--color-white);
	transform: scale(0.5) translate(calc(-48 * var(--size)), calc(-48 * var(--size)));
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes animloader {
	50% {
		transform: scale(1) translate(-50%, -50%);
	}
}
